.p-mv {
  position: relative;
  width: 100%;
  min-height: 100svh;
  overflow: hidden;
  background: #f8f6f4;

  &__inner {
    position: relative;
    width: 100%;
    max-width: 375px;
    height: 705px;
    margin-inline: auto;
    padding: 64px 22px 0;
  }

  &__header {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 30px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__logo-title {
    margin-left: 10px;
    letter-spacing: 0.22em;
  }

  &__hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 23px;
    padding: 0;

    border: 0;
    background: transparent;

    span {
      width: 100%;
      height: 1px;
      background: #333;
    }
  }

  &__drawer {
    position: fixed;
    z-index: 100;

    top: 0;
    right: 0;

    width: 300px;
    height: 100svh;

    padding: 80px 30px 40px;

    background: #5f86ca;

    opacity: 0;
    visibility: hidden;

    transform: translateX(100%);

    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;

    &.is-open {
      opacity: 1;
      visibility: visible;

      transform: translateX(0);
    }
  }

  &__drawer-list {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      border-bottom: 1px solid rgb(255 255 255 / 40%);
    }

    a {
      display: block;

      padding: 14px 4px;

      color: #fff;

      font-size: 11px;
      text-decoration: none;
    }
  }

  &__copy {
    position: relative;
    z-index: 3;

    margin-top: 28px;
  }

  &__copy-line {
    margin: 0 0 6px;

    span {
      display: inline-block;
      padding: 2px 7px;
      align-items: center;

      background: #fff;

      font-size: 30px;
      font-weight: 550;
      line-height: 1.3;
      letter-spacing: 0.2em;
    }
  }

  &__main-image {
    position: absolute;
    z-index: 1;

    top: 115px;
    right: -40px;

    width: 234px;
    height: 279px;

    overflow: hidden;
    // border-radius: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__lead {
    position: relative;
    z-index: 3;

    margin-top: 8px;
    margin-left: 8px;

    font-size: 9px;
    font-weight: 600;
    line-height: 3;
    letter-spacing: 0.2em;
  }

  &__sub-image {
    position: absolute;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--left {
      left: -14px;
      top: 410px;

      width: 164px;
      height: 196px;
      transform: rotate(-10deg);
    }

    &--right {
      right: 10px;
      top: 425px;

      width: 184px;
      height: 153px;

      border-radius: 50%;
    }
  }

  &__deco {
    position: absolute;
    z-index: 4;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--brush {
      top: 590px;
      left: 5px;

      width: 185px;
    }

    &--star {
      top: 400px;
      right: 30px;

      width: 33px;
    }

    &--pink {
      top: 430px;
      right: 0px;

      width: 22px;
    }
  }

  &__scroll {
    position: absolute;
    z-index: 10;

    bottom: 80px;
    right: 10px;

    display: flex;
    align-items: flex-start;
    gap: 7px;

    span {
      transform: translateY(8px);
      writing-mode: vertical-rl;
      font-size: 8px;
      font-weight: 600;
      letter-spacing: 0.2em;
    }

    &::before {
      display: block;

      width: 1px;
      height: 70px;

      margin-top: 8px;

      background: #222;

      content: "";
    }
  }

  &__news {
    position: absolute;

    left: 18px;
    right: 18px;
    bottom: 22px;

    display: flex;
    align-items: center;
    gap: 8px;

    height: 38px;
    padding: 5px 10px;

    background: #fff;
    border-radius: 999px;

    box-shadow:
      0 3px 10px rgb(0 0 0 / 7%),
      0 8px 25px rgb(0 0 0 / 4%);
    font-size: 8px;
  }

  &__news-label {
    flex-shrink: 0;
    padding: 3px 10px;
    border-radius: 999px;
    background: #f8f1dd;
  }

  &__news-date {
    flex-shrink: 0;
  }

  &__news-title {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__news-arrow {
    margin-left: auto;
  }
}
